.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.fill-window {
  height: 95%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: auto;
  background-color: rgb(249, 249, 249);
}