.NotFound {
    width: 50vh;
    margin: auto;
    text-align: center;
    border: 2px solid rgb(207, 212, 218);
    border-radius: 10px;
    padding: 30px;
}

.Link {
    margin: 15px;
}

.NotFound a:link {
    text-decoration: none;
    color: blue;
}
.NotFound a:visited {
    text-decoration: none;
    color: blue;
}
.NotFound a:hover {
    text-decoration: underline;
    color: blue;
}

.NotFound a:active {
    color: blue;
}