
.Todos {
    width: 30%;
    display: inline-block;
    /* padding-top: 30%; */
    /* margin-top: 60%; */
    /* margin-top: 0%; */
    /* margin: 1%; */
    position: relative;
    z-index: 1;
}

.Page {
    width: 100%;
    text-align: center;
}

.TodoInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(207, 212, 218);
    border-radius: 10px;
    background-color: white;
}

.TodoInput #title {
    border-radius: 5px;
    padding: 10px;
    border: 0px solid rgb(207, 212, 218);
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.TodoInput #description {
    border-radius: 5px;
    padding: 10px;
    border: 0px solid rgb(207, 212, 218);
    width: 90%;
    height: 10vh;
    resize: none;
    font-size: 15px;
    margin: 5px;
}

.TodoInput > :focus {
    outline-width: 0;
}

.TodoInput #addButton {
    float: right;
    color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(40, 89, 177);
    border-radius: 5px;
    border:1px solid rgb(30, 79, 167);
}

#addButton:disabled:hover {
    background-color: cornflowerblue;
    border:1px solid cornflowerblue;
}

#addButton:disabled {
    background-color: cornflowerblue;
    border:1px solid cornflowerblue;
}

#addButton:hover {
    background-color: rgb(30, 79, 167);
    cursor: pointer;
    border:1px solid rgb(10, 59, 147);
}

.TodoInput #date {
    border-radius: 5px;
    border: none;
    font-size: 15px;
    /* float: left; */
}

.DateAndAddRow {
    height: 50px;
    /* margin: 10px; */
    margin-left: 15px;
    
}

.TodoCards {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    /* padding: 20px; */
    margin-left: 5%;
    /* overflow: auto; */

    /* margin-left: 5%; */
    /* width: 25%; */
    /* margin-top: 50%; */
    /* background-color: white; */
}


.TodoCard {
    /* padding: 1%; */
    margin: 5%;
    border: 5px solid rgb(207, 212, 218);
    border-radius: 10px;
    background-color: white;
    text-align: left;
    width: 90%;
    display: inline-block;
}

.TodoCard #title {
    border-radius: 5px;
    padding: 10px;
    border: 0px solid rgb(207, 212, 218);
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.TodoCard #description {
    border-radius: 5px;
    padding: 10px;
    border: 0px solid rgb(207, 212, 218);
    width: 90%;
    height: 10vh;
    resize: none;
    font-size: 15px;
    margin: 10px;
}

.TodoCard > :focus {
    outline-width: 0;
}

.TodoCard :disabled {
    background-color: white;
    color: black;
}

.red {
    border: 5px solid #ff4d4d;
}

.orange {
    border: 5px solid #ff944d;
}

.yellow {
    border: 5px solid yellow;
}

.editButton {
    opacity: 0.5;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    width: 40px;
    margin-left: 15px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.editButton:hover {
    background-color: rgb(150, 150, 150);
}

.doneButton {
    margin: 1%;
    font-size: medium;
    font-weight: bold;
    background-color: rgb(38, 169, 72);
    
    border:1px solid rgb(28, 159, 62);
    border-radius: 5px;
    padding: 12px;
    color: white;
}

.doneButton:hover {
    cursor: pointer;
    background-color: rgb(18, 149, 52);
    border:1px solid rgb(0, 129, 32);
}

.doneButton:disabled {
    background-color: rgb(138, 255, 120);
    border:1px solid rgb(138, 255, 120);
    color: white;
}
