
.Todos {

}

.TodoInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(207, 212, 218);
    border-radius: 10px;
    background-color: white;
}

.TodoInput #title {
    border-radius: 5px;
    padding: 10px;
    border: 0px solid rgb(207, 212, 218);
    width: 97%;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.TodoInput #description {
    border-radius: 5px;
    padding: 10px;
    border: 0px solid rgb(207, 212, 218);
    width: 97%;
    height: 10vh;
    resize: none;
    font-size: 15px;
    margin: 5px;
}

.TodoInput > :focus {
    outline-width: 0;
}

.TodoInput #addButton {
    float: right;
    color: white;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(40, 89, 177);
    border-radius: 5px;
    border:1px solid rgb(30, 79, 167);
}

#addButton:disabled:hover {
    background-color: cornflowerblue;
    border:1px solid cornflowerblue;
}

#addButton:disabled {
    background-color: cornflowerblue;
    border:1px solid cornflowerblue;
}

#addButton:hover {
    background-color: rgb(30, 79, 167);
    cursor: pointer;
    border:1px solid rgb(10, 59, 147);
}

.TodoInput #date {
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.DateAndAddRow {
    height: 50px;
    margin: 10px;
}

.TodoCards {

}