
.danger {
    background-color: rgb(247, 216, 218);
    color: rgb(112, 32, 37);
    border: 1px solid rgb(243, 199, 203);
}

.success {
    background-color:rgb(212, 237, 218);
    color: rgb(20, 88, 38);
    border: 2px solid rgb(195, 230, 204);
}

.box {
    padding: 4%;
    border-radius: 8px;
    margin: 10px;
}

.box a:link {
    text-decoration: none;
    color: blue;
}
.box a:visited {
    text-decoration: none;
    color: blue;
}
.box a:hover {
    text-decoration: underline;
    color: blue;
}

.box a:active {
    color: blue;
}