.App {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
  }