.Login {
    width: 50vh;
    /* margin: auto; */
}

.LoginForm {
    padding: 5%;
    align-content: center;
}

.LoginButton {
    width: 100%;
    margin: 1%;
    font-size: medium;
}


.inputBox {
    margin: 1%;
    width: 100%;
    font-size: large;
}

.Links {
    padding: 1%;
}